:root {
    --var-bg-wrapper: #FFFFFF;
    --var-color-bg-body: #E5E5E5;
    --var-color-hover: #7E72F2;
    --var-color-circle-bg-defolt: #EDEDED;
    --var-color-number: #2C2C2C;
}

.siz {
    background: var(--var-color-circle-bg-defolt);
    width: 2rem;
    height: 2rem;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px gray;
    list-style: none;
}

.wrapper {
    width: 100%;
}

.siz:hover {
    background: var(--var-color-hover);
    border: 1px solid var(--var-color-circle-bg-defolt);
    color: var(--var-color-circle-bg-defolt);
    transition: .3s;
    box-sizing: border-box;
    cursor: pointer;
}

.active{
    background: var(--var-color-hover);
    border: 1px solid var(--var-color-circle-bg-defolt);
    color: var(--var-color-circle-bg-defolt);
    transition: .3s;
    box-sizing: border-box;
    cursor: pointer;
}

.pagination {
    width: 50%;
    margin: 20px auto;
    background: var(--var-bg-wrapper);
    color: var(--var-color-number);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.133);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.3rem;
}

.imgP {
    font-weight: 500;
    width: 0.5rem;
}

.numbers {
    width: 100%;
    margin: 0 1rem 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.os-products-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;

}

.wrap{
    width: 30%;
}

.os-products-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

body {
    background: var(--var-color-bg-body);
}

.wrap {
    width: 400px;
    margin: 20px auto;
    min-height: 500px;
    background: var(--var-bg-wrapper);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.133);
    border-radius:0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.os-img {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 1rem 0 0 0;
}

.os-img > img {
    width: 87%;
    height: 13rem;
}

.os-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 2.4rem;
    margin-top: 1rem;
}

.os-price-star {
    width: 5rem;
    height: 2rem;
    border-radius: 0.3rem;
    background: var(--var-color-hover);
    color: var(--var-bg-wrapper);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.os-price-price {
    color: var(--var-color-number);
}

.os-text {
    width: 85%;
    margin-left: 2.4rem;
    margin-top: 0.8rem;
}

.os-text > p {
    margin: 0;
    color: var(--var-color-number);
}

.os-text > .os-text-two {
    margin-top: 0.8rem;
}

.os-footer {
    width: 100%;
    background: var(--var-color-hover);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--var-bg-wrapper);
    border-radius: 0 0 0.4rem 0.4rem;
    text-transform: uppercase;
    padding: 0;
    margin-top: 1.7rem;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}